body {
  font-family: "Bellota", cursive;
  margin: 0;
}

/* Nav Bar and Logo */
.logo {
  display: inline;
  justify-content: center;
  align-items: center;
}

.logo img {
  display: block;
  margin: auto;
}

.logo h1 {
  align-items: center;
}

.nav {
  list-style: none;
  text-align: center;
  background-color: #e1a97d;
  padding: 1%;
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  padding: 0 5%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

.nav-bag {
  width: 25px;
  height: auto;
  vertical-align: bottom;
}

/* Home Page */
.banner {
  position: relative;
  text-align: center;
}

.banner img {
  height: 100%;
  width: 100%;
}

.centered-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e1a97d;
  padding: 2% 5%;
  border-radius: 50px;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.locations {
  width: 1000px;
  margin: auto;
}

.directions {
  display: flex;
  margin: 0;
  align-items: baseline;
}

.d-button {
  background-color: #fff2e2;
  margin: 0 0 0 40px;
  padding: 10px;
  border-radius: 50px;
}

.m0 {
  margin: 0;
}

/* Browse Page */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 1000px;
}

.centered {
  text-align: center;
}

/* Card */
.card-container {
  background-color: #fff2e2;
  display: inline-flex;
  width: 350px;
  margin: 30px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-container:hover {
  background-color: #e1a97d;
}

.card-content {
  margin: auto;
  padding: 0 50px;
}

.arrow {
  object-fit: contain;
  padding-right: 50px;
}

/* Details Page */
.detail-container {
  max-width: 1000px;
  margin: auto;
}

.info-container {
  display: inline-flex;
  width: 1000px;
  margin: 20px auto;
}

.info-text {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.glaze-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.glaze-card {
  width: 45%;
  background-color: #fff2e2;
  text-align: center;
  margin: 20px 0;
  display: flex;
}

.glaze-card:hover {
  background-color: #e1a97d;
}

.glaze-card p {
  margin: 25px 0 0 50px;
}

.amount-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.amount-card {
  width: 20%;
  background-color: #fff2e2;
  text-align: center;
  margin: 20px 0;
}

.amount-card:hover {
  background-color: #e1a97d;
}

.bag-container {
  background-color: #fff2e2;
  display: flex;
  width: 1000px;
  margin: auto;
  justify-content: center;
  margin: 20px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bag-container img {
  object-fit: contain;
  margin-right: 10px;
}

/* About Page */
.about-wrapper {
  max-width: 1000px;
  margin: 50px auto;
}

.about-container {
  display: flex;
}

.about-container p {
  margin-right: 20px;
}
